<%- include('header') -%>

<h1> Home </h1>
<p> <%= startingContent %> </p>

<%posts.forEach( function(item) {%>
	<a class="link-blog" href="/posts/<%= item.title %>">
	<h1><%=item.title%></h1>
	
	<%let content = item.content%>
	<%content = content.substring(0,80) + "......"%>
	<p><%=content%></p>
	</a>
<%})%>


<%- include('footer') -%>
